// these are sass color variables
$primary_text: #1B1212;
$secondary_text: #2b2b2b;
$tertiary_text: #5b6064;
$button_color: #4285F4;
$primary_background: #9fb4ed;
$secondary_background: #edebf4;
$tertiary_background: #f4e4e4;
$allergen: #d45a5a;

#root {
  background-image: linear-gradient(
    to top,
    $primary_background,
    $secondary_background,
    $tertiary_background
  );
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  font-family: Lato;
}

// here is general styling for Search and Loading Pages
.search-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  font-family: Lato;

  h1 {
    font-size: 5rem;
    color: $primary_text;
    margin: 0;
    text-align: center;
  }

  h2 {
    font-size: 2rem;
    color: $tertiary_text;
    text-align: center;
  }
}

.loading-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-family: Lato;
}

// slightly different styling for the Results Page
.results-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 0.5rem;
  background-image: linear-gradient(
    to right,
    $primary_background,
    $secondary_background,
    $tertiary_background
  );
}

// Specific styling for Search Page and its elements
#search-group {
  position: relative;
  left: center;
  text-align: center;

  h5 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: $secondary_text;
  }

  h6 {
    font-size: 1rem;
    margin: 0;
    color: $secondary_text;
  }
}

#search-bar {
  background-color: white;
  border: none;
  border-bottom: 2px solid $primary_background;
  width: 35rem;
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: $allergen;
}

#search-button {
  background-color: $primary_background;
  border: 1px solid transparent;
  border-radius: 1rem;
  color: white;
  padding: 0.5rem 5rem;
  margin: 1.5rem;
  display: inline-block;
  font-size: 1.2rem;
  cursor: pointer;
  transition-duration: 0.2s;
}

#return-to-home-button {
  background-color: $primary_background;
  border: 1px solid transparent;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  padding: 0.5rem 0rem;
  cursor: pointer;
  transition-duration: 0.2s;
}

#search-button:hover,
#return-to-home-button:hover {
  box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid $primary_background;
  background-color: $tertiary_background;
  color: $tertiary_text;
}

// Specific styling for Components on the Results Page
#searched-container {
  width: 25%;
  align-self: flex-start;
  position: sticky;
  top: 0;
}

#searched {
  display: flex;
  flex-direction: column;
  background-color: $secondary_background;
  border-radius: 0.5rem;
  padding-bottom: 1rem;
  padding-right: 1.3rem;
  padding-left: 1rem;
  margin-left: 0.5rem;
  margin-top: 2rem;
  box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.24);
}

#searched-header {
  h4 {
    color: $allergen;
    border-bottom: 3px double $primary_text;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    font-size: 1.3rem;
  }
}

#searched-ingredients {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
  overflow-x: scroll;
  white-space: nowrap;
  height: 100%;
  padding: 1rem;
  padding-bottom: 1.5rem;
  border: solid $primary_background;
  border-radius: 0.5rem;
  margin-bottom: 1rem;

  p {
    margin: 0;
    color: $allergen;
  }
}

#results {
  width: 85%;
  margin-top: 0.5rem;
  margin-right: 1.5rem;
  border: solid black;
  border-radius: 0.5rem;
}

#product-container {
  display: grid;
  gap: 10px;
  width: 85%;
  margin: 0.5rem;
  margin-right: 1.5rem;
}

// Styling for Product cards
.product {
  border: solid $primary_text;
  border-radius: 0.5rem;
  padding: 1rem 1.25rem;
  background-color: $secondary_background;
  box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.24);

  h1 {
    font-size: 1.5rem;
    color: $primary_text;
  }

  h2 {
    text-align: left;
    font-size: 1.25rem;
    color: $secondary_text;
  }

  p {
    color: $tertiary_text;
    font-size: 1rem;
  }

  img {
    border-radius: 4.4rem;
  }
}

// Media Queries to ensure a responsive web-page
@media screen and (max-width: 525px) {
  #search-bar {
    width: 28rem;
  }
}

@media screen and (max-width: 1024px) {
  .results-page {
    display: flex;
    flex-direction: column;
  }

  #searched-container {
    width: 50%;
    align-self: center;
    margin-right: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  #searched-container {
    width: 80%;
  }
}
